.referral--container {
    padding: 60px 80px 60px 130px;
    background: #f2f2ff;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.referral-header {
    font-size: 40px;
    margin: 0;
    font-weight: 600;
    margin-top: 8px;
    color: #242247;
}

.referral--content {
    color: #242247;
    font-size: 16px;
    font-weight: 300;
    max-width: 618px;
    margin: 20px 0px;
    line-height: 1.63;
    letter-spacing: -0.1px;
}

.refer-a-friend {
    text-transform: uppercase;
    color: #f32c4c;
    font-size: 16px;
    letter-spacing: -0.1px;
}

.referral-inputField--container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
