$primary-color: #f32c4c;

.d-flex{
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    padding-left: 40px;
    justify-content: space-between;
}

.logo {
    font-size: 35px;
    font-weight: 900;
    color: $primary-color;
    margin-right: 60px;
    cursor: pointer;
}

ul.header--list {
    display: flex;
    padding: 0;
    margin: 0;
}

.tabs, .signIn {
    color: #242247;
    padding: 30px 20px;
    text-decoration: none;
}

.tabs:hover, .signIn:hover {
    background: #c5c3c359;
}

.tabs.selected {
    color: #f32c4c;
}

.getStarted {
    color: #fff;
    background: $primary-color;
    padding: 30px 40px;
    cursor: pointer;
}