$primary-color: #f32c4c;

.h-d-flex {
    display: flex;
    align-items: center;
}

@mixin cur-pointer {
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    padding-left: 40px;
    justify-content: space-between;
    min-height: 78px;
    position: relative;
    z-index: 10;
}

.logo {
    margin-right: 60px;
    cursor: pointer;
}

ul.header--list {
    display: flex;
    padding: 0;
    margin: 0;
}

.tabs {
    color: #242247;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 14px;
}

.tabs:hover {
    background: #c5c3c359;
}

.tabs.selected {
    color: #f32c4c;
}

.getStarted {
    color: #fff;
    background: $primary-color;
    padding: 30px 40px;
    cursor: pointer;
    text-decoration: none;
}

.primeButton {
    padding: 16px 30px;
    border-radius: 6px;
    border: solid 1px #e0e5e9;
    background-color: #ffffff;
    text-decoration: none;
    color: #242247;
    margin: 0px 25px;
    font-size: 14px;
}

.loginText {
    color: #596377;
    font-size: 14px;
    @include cur-pointer;
}

.loggedInUser {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    @include cur-pointer;
}

.profile-icon {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}