@mixin cur-pointer {
    cursor: pointer;
}

.primaryButton {
    border-radius: 6px;
    background-color: #f32c4c;
    font-size: 14px;
    color: #ffffff;
    padding: 16px 20px;
    min-width: 130px;
    border: none;
    @include cur-pointer;
}

.secondaryButton {
    border-radius: 6px;
    background-color: transparent;
    font-size: 14px;
    color: #242247;
    padding: 16px 20px;
    min-width: 130px;
    border: 1px solid #242247;
    letter-spacing: -0.1px;
    @include cur-pointer;
}

.primaryButton:focus, .secondaryButton:focus {
    outline: none;
}

.primaryButton:disabled, .secondaryButton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}