.popularThreadsCard--parent {
  padding: 20px 30px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(215, 216, 226, 0.28);
  background-color: #ffffff;
}

.popularThreadsCard--header {
  letter-spacing: -0.13px;
  color: #242247;
  font-size: 16px;
  font-weight: 500;
}

.popularThreadsCard--value {
  letter-spacing: -0.1px;
  color: #596377;
  font-size: 12px;
  font-weight: 300;
}

.popularThreadsCard--details {
  display: flex;
  margin-top: 14px;
}

.popularThreadsCard--details > div:not(:first-child) {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.popularThreadsCard--details > div > img {
  margin-right: 10px;
}
