.mySlides.active {
  display: flex;
}

.mySlides {
  display: none;
}

.img--container {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-left: -80px;
  margin-top: -80px;
  // transform: translate(-18%, -12%);
}

.carousel-arrows--container {
  position: absolute;
  z-index: 2;
  background: white;
  right: 0;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  min-width: 200px;
  transform: translate(40%, 10%);
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 160px 80px 0px 0;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  //   position: absolute;
  //   top: 50%;
  //   padding: 16px;
  //   -webkit-user-select: none;
  //   -moz-user-select: none;
  //   user-select: none;
}

.prev {
  right: 0;
}

/* Position the "next button" to the right */
.next {
  transform: rotate(180deg);
}

/* On hover, add a black background color with a little bit see-through */
// .prev:hover,
// .next:hover {
//   background-color: rgba(0, 0, 0, 0.8);
// }

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  // transform: translate(18%, 12%)
  height: 500px;
  background: #fafaff;
  // background: green;
  width: 100%;
  // text-align: center;
}

.carousel-text--container {
  margin: 0px 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  max-width: 430px;
}

.carousel-text--container > p {
    font-size: 18px;
    font-family: 'SF UI Text Light';
    line-height: 1.78;
    letter-spacing: -0.1px;
    color: #242247;
    margin: 0;
    margin-top: 20px;
}

.carousel--header {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.45;
  color: #242247;
}

/* The dots/bullets/indicators */
.dots {
  cursor: pointer;
  height: 18px;
  width: 18px;
  /* margin: 0 2px; */
  background-color: transparent;
  border: 1px solid #242247;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots.active {
  background-color: #242247;
  background-clip: content-box;
  padding: 3px;
}

// .active,
// .dots:hover {
//   background-color: #717171;
// }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
