.signUpContainer {
  width: 980px;
  display: flex;
  /* padding: 20px 160px; */
  margin: 80px auto;
}

.signUpContainer > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

.signup-ckbox-label {
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: -0.1px;
  padding-top: 6px;
  color: #242247;
}

.signup-ckbox-label > a {
    color: #ff0045;
}

.MuiFormControlLabel-root {
    align-items: flex-start !important;
}

.dob--container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}

.registerButtons {
  display: flex;
  margin-top: 15px;
}